.header {
  text-align: center;
  color: #3E45E8;
  text-transform: uppercase;
  font-size: 48px;
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 400;
  height: 54px;
  font-style: normal;
  line-height: 70px;
  letter-spacing: 0.1em;
  padding-top: 25px;
  padding-bottom: 31px;
}

.header-word {
  color: #E8C23E;
}

.h1-image {
  box-sizing: border-box;
  padding-top: 195px;
  padding-left: 118px;
  background-image: url("../img/image\ 1.png");
  background-size: 100%;
  height: 803px;
  background-repeat: no-repeat;
}

.h1-text {
  box-sizing: border-box;
  background-image: url("../img/flag.png");
  background-repeat: no-repeat;
  height: 272px;
  padding-left: 38px;
  color: #FFFFFF;
  font-family: 'Inika', serif;
  font-size: 48px;
  font-weight: 700;
  text-transform: uppercase;
  width: 67%;
}

.h2 {
  margin-top: 72px;
  font-size: 40px;
  font-weight: 700;
}

.line {
  border-bottom: 5px solid #3E45E8;
  width: 402px;
  padding-top: 25px;
  box-sizing: border-box;
  margin-bottom: 33px;
}

.main {
  margin: 0px 80px;
  font-family: 'Inika';
}

.card {
  border: 1px solid black;
  width: 30%;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  border-radius: 60px;
  box-shadow: 0px 4px 57px rgba(0, 0, 0, 25) ;
}

.card-margin {
  margin: 0 4.5%;
}

.card_image {
  width: 100%;
}

.card-title {
  font-weight: 700;
  color: #1E8DF2;
  font-size: 24px;
  padding: 30px;
  box-sizing: border-box;
}

.card-text {
  font-weight: 400;
  font-size: 20px;
  color: #E8C23E;
  padding: 0px 30px 60px 30px;
  box-sizing: border-box;
}

.h2_center {
  text-align: center;
  font-size: 40px;
  color: #000000;
  font-weight: 700;
  padding-top: 74px;
  box-sizing: border-box;
}

.line_center {
  border-bottom: 5px solid #3E45E8;
  width: 402px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}

.map_ukraine {
  display: block;
  margin: 40px auto;
  height: 537px;
}

.button {
  width: 591px;
  height: 121px;
  color: #FFFFFF;
  background: #2A61F0;
  font-family: 'Roboto', sans-serif;
  font-size: 64px;
  font-weight: 700;
  margin: 0 auto 21px;
  text-align: center;
  padding-top: 20px;
  box-sizing: border-box;
}

.footer {
  background-color: #2F4A4B;
  height: 320px; 
}

.footer-head {
  font-family: 'M PLUS 1p', sans-serif;
  text-transform: uppercase;
  letter-spacing: 10px;
  font-size: 48px;
  font-weight: 400;
  color: #3E45E8;
  text-align: center;
  margin-bottom: 20px;
}

.word-footer {
  color: #DFE31E;
}

.footer-mail, .footer-phone {
  font-family: 'Marcellus SC', serif;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
  letter-spacing: 5px;
  height: 49px;
}

.footer-phone {
  margin: 20px 0;
}

a:link {
color: #A89D9D;
text-decoration: none;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
  width: 100%;
}

.footer-icons__img {
  width: 64px;
}

